{% extends 'website/base.html' %}

{% block main %}
    <h3 style="text-align: center; font-size: xx-large; margin-bottom: 30px">O que é a Teoria da Computação?</h3>
    <p  style="color: #0A2A34; text-align: center">A teoria da computação deriva da matemática e da ciência da computação e
                tem como objetivo determinar os problemas que podem ser computados usando a lógica,
                a teoria de conjuntos para modelar dados e sistemas,
                o conceito formal de algoritmo e a universalidade da Máquina de Turing.
                A teoria da computação oferece então as ferramentas necessárias para entender
                os limites do poder computacional através de três teorias diferentes, a teoria dos
                autómatos, a teoria da computabilidade e a teoria da complexidade.</p>
{% endblock %}